<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.phone }}
            <li><strong>Telefon: </strong>{{ .Site.Data.contact.phone }}</li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
	    <li><strong>Email: </strong>{{ partial "email.html" (dict "address" .Site.Data.contact.email) }}</li>
              {{ end }}
          </ul>
          <ul>
	    <li><strong>Quellcode: </strong><a href="https://{{ .Site.Params.repo }}">{{ .Site.Params.repo }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
